flows.json
[{"id":"f3fa4ade.8a5f88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"28905940.2f9656","type":"inject","z":"f3fa4ade.8a5f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":100,"y":160,"wires":[["8818491c.aafc78"]]},{"id":"95e3c967.9e45d8","type":"function","z":"f3fa4ade.8a5f88","name":"Prediction","func":"var token=msg.payload.token;\nvar WindGustSpeed = global.get(\"WindGustSpeed\");\nvar WindSpeed9am = global.get(\"WindSpeed9am\");\nvar WindSpeed3pm = global.get(\"WindSpeed3pm\");\n\nmsg.payload={\"fields\":[\"WindGustSpeed\",\"WindSpeed9am\",\"WindSpeed3pm\"],\"values\":[[WindGustSpeed,WindSpeed9am,WindSpeed3pm]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["14548128.b040ff"]]},{"id":"1255415f.3ac9ef","type":"http request","z":"f3fa4ade.8a5f88","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":250,"y":340,"wires":[["95e3c967.9e45d8","b9eaebee.0ebf98"]]},{"id":"14548128.b040ff","type":"http request","z":"f3fa4ade.8a5f88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8294c367-52de-4459-9561-a49dd1efed67/deployments/0c73bbfc-780f-4606-bb6c-97dbe8676a22/online","tls":"","proxy":"","authType":"basic","x":530,"y":340,"wires":[["b486c051.e0061","749447a5.b0c8d8"]]},{"id":"8818491c.aafc78","type":"function","z":"f3fa4ade.8a5f88","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"3e0dc5e6-d2cd-4db5-b7d6-190168071810\"\nvar password=\"fabe4fb3-5fab-4c6a-8af7-bab674a47a79\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"WindGustSpeed\", msg.payload.WindGustSpeed)\nglobal.set(\"WindSpeed9am\", msg.payload.WindSpeed9am)\nglobal.set(\"WindSpeed3pm\", msg.payload.WindSpeed3pm)\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["1255415f.3ac9ef"]]},{"id":"b486c051.e0061","type":"function","z":"f3fa4ade.8a5f88","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["1fec51f7.f06a5e"]]},{"id":"50e2c8d9.a7dd18","type":"ui_form","z":"f3fa4ade.8a5f88","name":"","label":"Enter the values","group":"b9d58647.245dd8","order":6,"width":0,"height":0,"options":[{"label":"WindGustSpeed","value":"WindGustSpeed","type":"number","required":true},{"label":"WindSpeed9am","value":"WindSpeed9am","type":"number","required":true},{"label":"WindSpeed3pm","value":"WindSpeed3pm","type":"number","required":true}],"formValue":{"WindGustSpeed":"","WindSpeed9am":"","WindSpeed3pm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":240,"wires":[["8818491c.aafc78"]]},{"id":"1fec51f7.f06a5e","type":"ui_text","z":"f3fa4ade.8a5f88","group":"b9d58647.245dd8","order":7,"width":0,"height":0,"name":"hours","label":"hours","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":320,"wires":[]},{"id":"b9eaebee.0ebf98","type":"debug","z":"f3fa4ade.8a5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":280,"wires":[]},{"id":"749447a5.b0c8d8","type":"debug","z":"f3fa4ade.8a5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":615,"y":260,"wires":[],"l":false},{"id":"b9d58647.245dd8","type":"ui_group","z":"","name":"Predict","tab":"ee997bd.eada488","disp":false,"width":"12","collapse":false},{"id":"ee997bd.eada488","type":"ui_tab","z":"","name":"Predicting Wind Storm","icon":"dashboard","disabled":false,"hidden":false}]